@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap");
@import "./normalize.scss";
@import "./variables.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-moz-selection {
  background: $secondary-color;
  color: #fff;
}

::selection {
  background: $secondary-color;
  color: #fff;
}

html {
  @media screen and (min-width: $mq-md) {
    font-size: 18px;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  background: $background-color;
  color: $text-color;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Serif", serif;
  font-weight: 400;
}

a {
  color: $text-color;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  border-bottom: 3px solid $primary-color;
}

a:hover {
  background: $primary-color;
}

.container {
  width: 54rem;
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  font-size: 1.2rem;
}
