// colors
$primary-color: #7fc1ca;
$secondary-color: #6eaf8e;
$accent-color: #9a93e1;
$background-color: #fff;
$text-color: #333;

// Media queries
$mq-xxl: 1600px;
$mq-xl: 1200px;
$mq-lg: 992px;
$mq-md: 768px;
$mq-sm: 576px;
