// colors
$primary-color: #deb841;
$secondary-color: #136f63;
$accent-color: #136f63;
$background-color: #fff; // #E6E6E9
$text-color: #333;

// Media queries
$mq-xxl: 1600px;
$mq-xl: 1200px;
$mq-lg: 992px;
$mq-md: 768px;
$mq-sm: 576px;
